.container {
  min-width:700px !important;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

p {
  margin-bottom: .5rem !important;
}
.name-container{
  margin: 40px 0 20px;
}

.sub-container {
  margin-bottom: 20px;
}

.navbar_titles {
	padding-right: 20px;
}